@tailwind base;
@tailwind components;
@tailwind utilities;





#monto-carrito {
    top: 0px;
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid white;
    color: white;
    background-color: red;
    font-size: 0.9rem;
}